html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	border: 0;
	padding: 0;
	margin: 0;
	font-weight: 700;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.9);
}

#quiz {
	width: 560px;
	height: 80%;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	font-size: 2.4rem;
	background: rgb(248, 221, 60);
}

header {
	font-size: 3rem;
}

#question {
	text-align: center;
	font-weight: bold;
	margin-inline: 3rem;
}

#quiz_score {
	text-align: end;
}

#choices {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	margin-top: 5%;
	gap: 1.5rem;
	list-style: none;
}

.choice {
	width: 60%;
	padding: 1rem;
	text-align: center;
	border-radius: 1.5rem;
	transition: all 0.2s;
	border: 1px solid white;
	color: rgba(0, 0, 0, 0.9);
	background: rgba(255, 253, 253, 0.95);
}

.choice:hover {
	box-shadow: 0 0 1rem gray;
	box-shadow: 0 0 1rem gray;
	transform: scale(1.05);
	z-index: 1;
}

.correct {
	border: 1px solid white;
	color: whitesmoke;
	background: rgba(2, 155, 1, 0.8);
}

.wrong {
	border: 1px solid white;
	color: whitesmoke;
	background: rgba(255, 0, 0, 0.8);
}

@media screen and (max-width: 680px) {
	#quiz {
		position: relative;
		width: 90vw;
		height: 60%;
		padding: 0.5rem;
		font-size: 2rem;
	}

	header {
		font-size: 2.2rem;
	}
}

/* modal */

/* modal system */
#modal_overlay,
#modal_loading {
	z-index: 1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	font-size: 3rem;
	background: rgba(15, 147, 255, 0.3);
}

.modal_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 460px;
	height: 260px;
	border-radius: 3px;
	font-size: 3rem;
	background: rgba(0, 0, 0, 0.95);
	color: white;
}

#modal_button {
	font-size: 2rem;
	margin: 1rem;
	padding: 0.5rem 2rem;
	border-radius: 2rem;
	background: darkgoldenrod;
	transition: transform 0.5s, box-shadow 0s;
}

.modal_button:hover {
	transform: scale(1.05);
}

.modal_button:active {
	box-shadow: 0 0 10px gray;
}

.disable {
	opacity: 0.4;
}

.hide {
	visibility: hidden;
}
